nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu_icon{
    width: 22px;
    margin-right: 25px;
}
.logo{
   width: 90px; 
}
.search-box{
    border:1px solid #b9b7b7;
    margin-left: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background:transparent ;
}
.search-box img{
    width:15px ;
}
.nav-right img{
    width: 28px;
    margin-right: 25px;
}
.nav-right .User-icon{
    border-radius: 20px;
}
